
@if (TempData["Succes"] != null) 
{
    <div class="alert alert-success notification">
        @TempData["Success"]
    </div>
}

@if (TempData["Warning"] != null)
{
    <div class="alert alert-success notification">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-success notification">
        @TempData["Success"]
    </div>
}
